<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <script
      src="https://kit.fontawesome.com/e145d9d2c3.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>login</title>
  </head>
  <body>
    <header>
      <div class="header-div">
        <img
          class="logo"
          src="/images/logo-mercado-liebre.svg"
          alt="logo de mercadoliebre"
        />
        <form class="form">
          <input type="text" name="busqueda" placeholder="Buscar..." />
          <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
        <p class="copy">
          <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
          tarjeta de crédito
        </p>
      </div>
      <div class="burger-menu">
        <a href="#"><i class="fa-solid fa-bars"></i></a>
      </div>

      <div class="main-nav-div">
        <nav class="nav-todo">
          <ul class="nav-left">
            <li><a href="#"> Ofertas </a></li>
            <li><a href="#">Tiendas Oficiales </a></li>
            <li><a href="#"> Vender </a></li>
            <li><a href="#"> Ayuda </a></li>
          </ul>
          <ul class="nav-right">
            <li>
              <a href="/register">Creá tu cuenta </a
              ><i class="fa-regular fa-address-card"></i>
            </li>
            <li>
              <a href="#"> Ingresá </a
              ><i class="fa-solid fa-arrow-right-to-bracket"></i>
            </li>
            <li>
              <a href="#"> Mis compras </a
              ><i class="fa-sharp fa-solid fa-basket-shopping"></i>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <form class="login" action="/login" method="post">
        <div class="username">
          <input
            type="username"
            name="username"
            placeholder="Ingrese nombre de usuario"
          />
        </div>
        <div class="pass">
          <input type="password" name="password" placeholder="Ingrese contraseña" />
        </div>
        <div class="boton"><button type="submit">Enviar</button></div>
      </form>
    </main>
    <footer class="footer">
      <div class="footer-alineado">
      <section>
        <div class="icono-footer">
          <i class="fa-solid fa-credit-card"></i>
        </div>
        <p>Pagá con tarjeta o en efectivo</p>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section>
        <div class="icono-footer"><i class="fa-solid fa-gift"></i></div>
        <p>Envío gratis desde $ 2.500</p>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <section>
        <div class="icono-footer"><i class="fa-solid fa-user-shield"></i></div>
        <p>Seguridad, de principio a fin</p>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
    </div>
      <section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
    </footer>
  </body>
</html>
