main form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;


}
.login button{
    width: 100px;
    margin: auto;
    
}

form input{
    width: 200px;
    padding-left: 5px;
    
}


.username,
.password{
    padding: 5px;
    margin: auto;

}

.boton{
    padding: 10px;;

}


.boton button{
    padding: 5px;
    border-radius: 4px;
    background-color: #03264C;
    color: white;
    transition: all 450ms;
    
}

form button:hover{
    background-color: #0022AA;
    cursor: pointer;
}
.footer-alineado{
    display: flex;
}

@media(min-width:769px)
{
  .footer-alineado{
    display: flex;
  }
}
