main form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: space-between;
}

form input, label{
    border-radius: 5px;
    border: none;
    width: 300px;
    padding: 10px;
    margin: auto;
    
}


form p{
    margin: auto;
    padding: 10px;
    font-weight: bold;
}



form {
    padding: 10px;
}
.boton-submit,
.boton-reset{
    padding:10px;
    margin: auto;
}

form button{
    padding: 5px;
    border-radius: 4px;
    background-color: #03264C;
    color: white;
    transition: all 450ms;
}

form button:hover{
    background-color: #0022AA;
}

.na,
.usr,
.fnac,
.eml,
.dom,
.passwd,
.rpasswd{
    padding: 5px;
    margin: auto;
}

.footer-alineado{
    display: flex;
}