* {
  box-sizing: border-box;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
}

a {
  text-decoration: none;
}

.header-div {
  background-color: #eac926;
  display: flex;
  flex-wrap: wrap;
  justify-items: space-between;
  padding: 0;}

  .main-nav-div {
  display: none;
  background-color: #eac926;
}

.logo{
  width: 50%;
  margin: 0;
  padding: 0;
}
.form{
  margin:10px;
  padding: 0;
  width: 40%;
}

.form input{
  width: 80%;

}

.copy{
  font-size: 18px;
  text-align: center;
  margin: auto;
}

img{
  width: 100%;
  
}
main p{
  padding:0 0 0 10px;
  margin:0px;
}

.titular{
  font-size: 24px;
}
.precio{
  font-size: 18px;
}
.descuento{
  font-size: 16px;
  color: #39b54a;
}
 .descripcion{
  font-size:16px ;
    color: white;
    transition: all 600ms;
}

.descripcion:hover{
    color: #666666;
  }

.footer p {
  font-size: 14px;
  text-align: center;
  margin: 0 0 10px 0;

}
.footer{
  background-color: lightgray;
}

.burger-menu{
  background-color: #eac926;
}

.burger-menu i{
  background-color: #03264C;
  color: #ffffff;
  display: block;
  width: 30px;
  text-align: center;
  margin: auto;
  border-radius: 3px;
  border: 0;
  padding: 5px;
}


.icono-footer{
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
  margin-top: 15px;
  color: #03264C;
  transition: all 450ms;
}

.icono-footer:hover{
  color: #0022aa;
}




.producto{
  margin-bottom: 10px;
  background-color: white;
  position: relative;

}
.info-producto{
  padding: 15px;
  border-top: solid 1px #ebebeb;

}
.info-producto{
  display: flex;
}


.camioncito{
  color: #39b54a;
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  bottom: 50px;
  transition: all 450ms;
}

.camioncito:hover{
  transform: rotate(-90deg);

}

.precio{
  flex: 3;
}
.descuento{
  flex:7;
}

section .copyright{
  text-align: left;
}

@media (min-width: 361px) {

  .descripcion {
    display: block;
  }

  .productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .burger-menu{
    display: none;
  }
  .header-div{
    display: flex;
    
  }
  .copy{
    text-align: right;
    margin-right: 15px;
    font-size: 18px;
  }
  .logo{
    width: 130px ;
  }
  .search-bar{
    font-size: 12px;
    padding-left: 15px;

  }
  .main-nav-div{
    display: inline-block;
    width: 100%;

  }
  .nav-todo{
    display: flex;
    justify-content: space-around;

  }


  .nav-left{
    display: flex;


  }
  .nav-right{
    display: flex;



  }

  .nav-left a,
  .nav-right a{
    font-size: 14px;
    text-decoration: none;
    color: #000;
  }

  div li{
    padding: 0 5px 0 5px;
    list-style-type: none;
  }

  .producto{
    width: 45%;
    transition: all 450ms;
  }

  .producto:hover{

    box-shadow: 0px 0px 10px rgb(100, 100, 100);

  }
  .titular{
    padding: 20px 0;
  }
  .form{
    margin-left: 20px;
  }
}

@media(min-width:769px)
{

    .burger-menu{
    display: none;
  }

  .producto{
    width: 23%;
  }
  .footer-alineado{
    display: flex;
  }
  
}
