*{
    box-sizing: border-box;
    font-family: "Roboto";
}
body{
    background-color: #EAC926;
}
.main-nav-div{
    display:none;
}
.logo{
    width: 150px;
}
.form{
    display: block;
}
.copy{
    font-size: 18px;
    text-align: center;
    margin: auto;
}

main img{
    width: 100%;
    
}
main p{
    padding:0 0 0 10px;
    margin:0px;
}
.titular{
    font-size: 24px;
}
.precio{
    font-size: 18px;
}
.descuento{
    font-size: 16px;
}
.descripcion{
    font-size:16px ;
    display: none;
}
.home-banner{
    width: 100vw;
}
.footer p{
    font-size: 14px;
    text-align: center;
    margin: 0 0 10px 0;
}
.burger-menu{
    background-color: #03264C;
    color: #ffffff;
    display: block;
    width: 30px;
    text-align: center;
    margin: auto;
    border-radius: 3px;
    border: 0;
    padding: 5px;
    margin-bottom: 10px;

}
.icono-footer{
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 15px;
}

.productos{
    width: 90vw;
    margin: auto;
    
}
.producto{
    border-top: solid 1px #ebebeb;
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}




@media(min-width:361px){
    body a{
        text-decoration: none;
    }
    .burger-menu{
        display: none;
    }
    .header-div{
        display: flex;

    }
    .copy{
        display:flex;
        text-align: right;
        margin-right: 15px;
        font-size: 18px;
    }
    .logo{
        display: block;
        width: 130px ;
    }
    .search-bar{
        display:block;
        font-size: 12px;
        padding-left: 15px;
      
    }
    .main-nav-div{
        display: block;
         
    }
    .nav-todo{
        display: flex;
        justify-content:space-around
        
        
    }

    .nav-left{
        
        display: flex;
        list-style-type: none;
        margin-top: 0;
        padding: 0;
    }
    .nav-right{
        display: flex;
        list-style-type: none;
        margin-top: 0;
        padding: 0;
        
    }

    div li{
        padding: 0 2px 0 2px;
    }
    .home-banner{
        width: 100vw;
        padding: 5px 5px 0 5px
    }
    .productos{
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content:space-between;
        
    }
    .titular{
        padding: 20px 0;
    }
    .form{
        margin-left: 20px;
    }
    .descripcion{
        display: block;
    }
} 

@media(min-width:769px)
{
    .descripcion{
        display: block;
    }
    .burger-menu{
        display: none;
    }

}
